<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/style.css">
 
    {% block title %}
    <title>Fernando Lucas </title>
    {% endblock %}

<head>

    
</head>
<body>
    <header>
        <div class="links">
            <a href="https://www.instagram.com/fernando.massan" target="_blank">Instagram</a>
            <a href="https://www.linkedin.com/in/fernando-lucas-de-castro-309352233/" target="_blank">Linkedin</a>
            <a href="https://www.github.com/namukuzedim" target="_blank" >Github</a>
            <a href="/videos">Videos</a>
        </div>
    </header>

    {% block content %}
       

    {%endblock%}

  
</body>
</html>